body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.all {
    display: flex;
}
.left-side {
    height: 100%;
    min-height: 100vh;
    width: 50%;
    background-image: url("background-image.jpg");
    background-size: 100%;
    align-items: center;
    display: flex;
}
.logo {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.right-side {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
}
.right-side-content {
    text-align: center;
    border: 0.5em solid black;
    padding: 1em 2em;
    border-radius: 50px;
}

#signupButton {
 background-color: #38b6ff;
 border:  1px solid black;
 width: 90%;
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 border-radius: 10px;
 font-size: 2em;
 color: white;
 box-shadow: 8px 4px 7px 3px rgba(0,0,0,1);
 -webkit-box-shadow: 8px 4px 7px 3px rgba(0,0,0,1);
 -moz-box-shadow: 8px 4px 7px 3px rgba(0,0,0,1);
 margin-top: 2em;
 margin-bottom: 2em;
}
#hr1 {
    margin-top: 1em;
}
#hr4 {
    margin-bottom: 1em;
}
#signinButton{
    background-color: white;
    border:  1px solid black;
    width: 90%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    font-size: 2em;
    color: black;
    box-shadow: 8px 4px 7px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 8px 4px 7px 3px rgba(0,0,0,1);
    -moz-box-shadow: 8px 4px 7px 3px rgba(0,0,0,1);
    margin-bottom: 3em;
}